Thesis/plots

Thesis/Examples/justFeasible/data

Thesis/Examples/example1/uncertain/infeasible.m
Thesis/Examples/example1/certainExplicitObjective
Thesis/Examples/example1/uncertainCompareOptions/data
Thesis/Examples/example1/uncertainCompareOptions/plots
Thesis/Examples/example1/uncertainCompareOptions/Copy_of_evalAndPlot.m


Thesis/Examples/examplePendulum/trajectory.mat
Thesis/Examples/vanDerPol/eigenTests.m
Thesis/Examples/vanDerPol/trajectory.mat

Thesis/Examples/fragments/ignoreInput.m


Thesis/util/ROAFAILUREProg.m
Thesis/util/ensuredHandelmanAndDSOSProg.m
Thesis/util/lyapunovCandidate.m
Thesis/util/offDiag.m

Thesis/Examples/example1/uncertainLineSearch/plots/Line0.tex
Thesis/Examples/example1/uncertainCompareOptions/SOS.mat
Thesis/Examples/example1/uncertainLineSearch/plots/Line0numerical.tex
Thesis/Examples/vanDerPol/trajectory.mat
Thesis/Examples/example1/uncertainCompareOptions/tablePlot1.m
Thesis/Examples/vanDerPol/trajectory.mat
Thesis/Examples/vanDerPol/HandelmanAndDSOSProg5.tex
Thesis/Examples/vanDerPol/HandelmanAndDSOSProg7.tex
Thesis/Examples/vanDerPol/PsatzProg2.tex
Thesis/Examples/vanDerPol/PsatzProg4.tex
Thesis/Examples/vanDerPol/SprocedureProg2.tex
